# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyBVOb5B0j0z12iqT5jeDYXezfqPL-SavkY"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0688922464.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0688922464"
VITE_FIREBASE_DATABASE_ID="ai-studio-883d5d1e-2b6c-494b-a1a8-10ea29295cb4"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0688922464.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="557870110764"
VITE_FIREBASE_APP_ID="1:557870110764:web:10bc5a5767735dc0035989"

# Gemini AI Configuration
VITE_GEMINI_API_KEY="AIzaSyBVOb5B0j0z12iqT5jeDYXezfqPL-SavkY"

# App URL
VITE_APP_URL="https://nexusvpnservices.top"
